{% extends 'basic.html' %}
{% block title %}Book Room{% endblock title %}
{% block body %}
<div class="container">
    <h3 class="text-center text-dark">Book Room</h3>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST" action="{% url 'book_room' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="check_in">Check In:</label>
                    <input type="date" class="form-control" id="check_in" name="check_in" required>
                </div>
                <div class="form-group">
                    <label for="check_out">Check Out:</label>
                    <input type="date" class="form-control" id="check_out" name="check_out" required>
                </div>
                <div class="form-group">
                    <label for="person">Number of Persons:</label>
                    <input type="number" class="form-control" id="person" name="person" required>
                </div>
                <div class="form-group">
                    <label for="child">Children:</label>
                    <input type="checkbox" id="child" name="child">
                </div>
                <input type="hidden" name="room_id" value="{{ room.id }}">
                <button type="submit" class="btn btn-primary">Book Room</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}