{% extends 'basic.html' %}
{% block title %}Contacts{% endblock title %}
{% block body %}
<h1 class="text-center">Contacts</h1>
<div class="container">
    <div class="row">
        {% for contact in contacts %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4">
                {% if contact.img %}
                <img src="{{ contact.img.url }}" class="card-img-top" alt="{{ contact.name }}">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ contact.name }}</h5>
                    <p class="card-text">{{ contact.description }}</p>
                    <p class="card-text"><strong>Phone:</strong> {{ contact.phonenumber }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ contact.email }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}