{% extends 'basic.html' %}
{% block body %}
<div class="container mt-5">
    <h1 class="text-center">News</h1>
    <div class="row">
        {% for news in news_list %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if news.img %}
                <img src="{{ news.img.url }}" class="card-img-top" alt="{{ news.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <p class="card-text news-summary">{{ news.summary }}</p>
                    <a href="{% url 'news_detail' news.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}